<ion-view view-title="注册">
  <ion-content>
    <form name="registerForm" novalidate ng-submit="registerForm.$valid && vm.register(vm.user)">
      <div class="list">
        <label class="item item-input" ng-class="{ 'has-error' : registerForm.username.$invalid  && registerForm.$submitted}">
          <span class="input-label">Username</span>
          <input name="username" type="text" ng-model="vm.user.username" required/>
        </label>
        <div class="form-errors" ng-show="registerForm.username.$invalid && registerForm.$submitted" ng-messages="registerForm.username.$error">
          <div class="form-error" ng-message="required">This field is required.</div>
        </div>
        <label class="item item-input" ng-class="{ 'has-error' : registerForm.password.$invalid  && registerForm.$submitted}">
          <span class="input-label">Password</span>
          <input name="password" type="password" ng-model="vm.user.password" required ng-minlength="2"/>
        </label>
        <div class="form-errors" ng-show="registerForm.password.$invalid && registerForm.$submitted" ng-messages="registerForm.password.$error">
          <div class="form-error" ng-message="required">This field is required.</div>
          <div class="form-error" ng-message="minlength">Must have more than 2.</div>
        </div>
      </div>
      <div class="padding">
        <button class="button button-block button-positive" type="submit">Register</button>
      </div>
      <div class="padding">
        {{vm.message}}
      </div>
    </form>
  </ion-content>
</ion-view>
