<ion-header-bar class="bar-positive">
    <h1 class="title">{{vm.service.saveMode}}</h1>
    <div class="button button-clear" ng-click="vm.closeModal()"><span class="icon ion-ios-close-empty"></span></div>
</ion-header-bar>
<ion-content>
    <form name="todoForm" novalidate ng-submit="todoForm.$valid && vm.saveTodo(vm.service.todo, todoForm)">
        <div class="list">
            <label class="item item-input" ng-class="{ 'has-error' : todoForm.content.$invalid  && todoForm.$submitted}">
                <textarea class="ta-content" name="content" placeholder="Todo" ng-model="vm.service.todo.content" required></textarea>
            </label>
            <div class="form-errors" ng-show="todoForm.content.$invalid && todoForm.$submitted" ng-messages="todoForm.content.$error">
                <div class="form-error" ng-message="required">This field is required.</div>
            </div>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" type="submit">Save</button>
        </div>
    </form>
</ion-content>
